<h1>GB Game Info Widget</h1>

<p>Find your API key at <a href='http://www.giantbomb.com/api/'>http://www.giantbomb.com/api/</a></p>
<p>This requires a Giant Bomb account</p>

<form method="post" action="options.php">
    
    {{ function('settings_fields', option_group) }}
    
    {% if api_key %}

        <h3>API Key Set</h3>

        {{ function('submit_button', 'Reset API Key', 'primary', 'reset') }}

        <input id="gbgi-tester" type="button" class="button button-primary" value="Test API Key"/>

        <div id="gbgi-test-results">
            <p class="result"></p>
        </div>

    {% else %}

        <table class="form-table">
                
            <tr valign="top">
                <th scope="row">Giant Bomb API Key</th>
                <td>
                    <input
                        style="width:50%"
                        type="text"
                        name="{{option_name}}[apiKey]"
                    />
                </td>
            </tr>
        
        </table>

        {{ function('submit_button', 'Save') }}

    {% endif %}

</form>

<script>

    let API_KEY = '{{api_key}}';
    let root = jQuery('#gbgi-test-results');
    let results = root.find('.result');

    jQuery('#gbgi-tester').on('click', () => {
        OptionsHelper.testApi(API_KEY)
            .then(() => {
                results.text("Succeeded!");
            })
            .catch(() => {
                results.text("Failed to query server, check your API key");
            });


    });

</script>